.App {
  text-align: auto;
}

.Names {
  display: grid;
grid-template-columns: repeat(8, 1fr) ;
border: 2px solid ;
padding: 20px;
margin: 10px;
border-radius: 2px;  
}

.NameSpan {
margin: 3px;
padding: 2px;
text-align: center;
border-radius: 4px;
}

.Male {
background-color: rgb(36, 183, 237);
color: black;
}

.Female {
background-color: pink;
color:black
}